@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url('/dot-grid-2x.png');
  background-size: 16px 16px;
  transform: translate(0px) scale(1) translate(0px);
}

.grab {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

